aside#sidenav {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(243 245 247 / 85%);
    padding: 0.5em;
    width: 120px;
}

aside li {
    text-decoration: none;
    list-style-type: none;
}

#sidenav li a {
    font-weight: normal;
    padding: 0;
}