footer {
    background-color: #375657;
    border-top: 2px #000 solid;
    text-align: center;
    position: relative;
    bottom: 0;
    max-height: 80px;
    width: 100%;
    padding: 1em;
}