@import url("footer.css");
@import url("header.css");


* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(75, 127, 179, 0.85);
}

#content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

article {
  background-color: #3e4b4c;
  margin-top: 2em;
  height: 150px;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 5px rgba(62, 75, 76, 1);
  -moz-box-shadow: 0px 8px 16px 5px rgba(62, 75, 76, 1);
  box-shadow: 0px 8px 16px 5px rgba(62, 75, 76, 1);
}

.container {
  text-align: center;
}

main h1 {
  text-align: center;
  width: 100%;
}

.error {
  color:orange;
}

main#login {
  background-color: #4c8386;
  border-style: solid;
  padding: 20px;
  margin-top: 150px;
  text-align: center;
}

/*@media screen and (max-width: 760px) {
  {
    
  }
}*/ 

